**
!.dockerignore
!Dockerfile
!LICENSE
!next.config.ts
!package-lock.json
!package.json
!postcss.config.mjs
!proxy.ts
!tsconfig.json
!app/
!app/**
!components/
!components/**
!editions/
!editions/**
!lib/
!lib/**
!recipes/
!recipes/**
!scripts/
!scripts/artifact-policy.mjs
!scripts/bin/operator-engine
!scripts/distribution-adapters.mjs
!scripts/harness-adapters.d.mts
!scripts/harness-adapters.mjs
!scripts/layout-tree-policy.d.mts
!scripts/layout-tree-policy.mjs
!scripts/materialize-runtime-files.mjs
!scripts/operator-engine.mjs
!scripts/path-policy.d.mts
!scripts/path-policy.mjs
!scripts/prepare-standalone.mjs
!scripts/run.mjs
!scripts/runtime-config-core.d.mts
!scripts/runtime-config-core.mjs
!scripts/runtime-files-policy.mjs
!scripts/runtime-identity-policy.d.mts
!scripts/runtime-identity-policy.mjs
!scripts/state-io.mjs
!scripts/terminal-binding-store.d.mts
!scripts/terminal-binding-store.mjs
!scripts/terminal-control-capability.d.mts
!scripts/terminal-control-capability.mjs
!scripts/terminal-relay.mjs
!scripts/terminal-spectator-policy.mjs
!scripts/theme-7-loader.mjs
!scripts/workspace-roots.mjs
!vendor/
!vendor/theme-7-0.1.0.tgz
!vendor/operator-studio-thread-ingest-adapter-omp-0.1.0.tgz
!vendor/operator-studio-thread-ingest-core-0.1.0.tgz
**/*.test.*
**/*.spec.*
**/__tests__/**
**/.env*
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
**/*.sqlite3-*
**/*.db
**/*.db-*
**/client-workspace/**
**/.operator-engine/**
**/artifacts/**
**/.review-*/**
